.git
.gitignore
.env
.env.local
.env.production
node_modules
vendor
writable/cache/*
writable/logs/*
writable/session/*
writable/uploads/*
!writable/.htaccess
*.md
*.log
.DS_Store
Thumbs.db
tests
.phpunit.result.cache
composer.lock
package-lock.json
